body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #74ebd5, #ACB6E5);
  margin: 0;
  padding: 0;
}

.app {
  max-width: 400px;
  margin: 50px auto;
  background: #c5f31f;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.search {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#cityInput {
  padding: 10px;
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
}

#searchBtn {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #3498db;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  display: flex;
}

.weather-card {
  background-color: #7c7bee;
  padding: 15px;
  border-radius: 10px;
}

.hidden {
  display: none;
}
