body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #e7d880, #b7f3f7);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: rgb(243, 154, 228);
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
  padding: 0.5rem;
  width: 200px;
  margin-right: 0.5rem;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

button {
  padding: 0.5rem 1rem;
  background-color: #0720ff;
  color: rgb(243, 241, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-style: double;
}

.weather-info {
  margin-top: 1rem;
}

.weather-info img {
  width: 100px;
  height: 100px;
}
